* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.code-pane {
  background: #222121;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  color: #cfcfd0;
}

.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #454545;
  z-index: 1;
}

.nav-left {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-left a {
  color: #fbfbfb;
  text-decoration: none;
  font-size: 14px;
  padding: 0px 7px;
  position: relative;
}

.nav-left a:hover::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: blue;
  right: 0;
  bottom: -10px;
  transition: ease-in-out 1s;
  transition-all: 0.5s;
}

.nav-right a:hover::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: blue;
  right: 0;
  bottom: -10px;
  transition: ease-in-out 1s;
  transition-all: 0.5s;
}

.nav-left img {
  width: 46px;
  height: 33px;
  padding: 0 10px;
}

.nav-right {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-right a {
  color: #fbfbfb;
  text-decoration: none;
  font-size: 14px;
  padding-right: 1rem;
  padding-left: 6px;
  position: relative;
}

.nav-right p {
  color: #ffb24e;
  font-size: 14px;
  font-weight: 600;
}

.nav-right button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  color: #ffb82e;
  font-weight: bold;
  height: 35px;
  background-color: #222121;
  border: solid 1px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 0 15px 0 10px;
}

.nav-right button:hover {
  border: 1px solid #ffb82e;
  border-radius: 8px;
}

.fiddle {
  background: #26aa5a;
  color: #ffffff;
  font-size: 11px;
  padding: 3px 4px;
  margin: 0px 5px 0px 0px;
}

.content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  background: #202123;
  border-top: 1px solid #454545;
  padding-top: 0;
}

.left-box {
  width: 13%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 12px;
  padding-left: 10px;

  cursor: pointer;
  border-right: 1px solid #454545;
}

.left-box h2 {
  cursor: pointer;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 10px;
  height: 36px;
}

.left-box input {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  color: white;
  border: none;
  border-bottom: 1px solid rgb(251, 251, 251);
  padding: 5px;
  box-sizing: border-box;
}

.left-box input:focus {
  border-bottom-color: #0e1ce6;
  outline: none;
}

.private {
  margin-top: 2rem;
}

.private img {
  height: 10px;
  padding-right: 10px;
}

.left-box h2 {
  display: flex;
  align-items: center;
  color: rgb(251, 251, 251);
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 2rem;
  cursor: pointer;
}

.left-box h2 p {
  font-size: 11px;
  font-weight: 400px;
  background-color: grey;
  color: #fffff7;
  margin-left: 10px;
}

.left-box h3 {
  display: inline;
  color: rgb(207, 207, 207);
  font-size: 13px;
  padding-bottom: 2rem;
  font-weight: 400;
}

.pro-btn {
  font-size: 10px;
  padding: 0 3px;
  background-color: #ffb24e;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
}

button {
  margin-left: 10px;
}
.middle-box,
.middle-left-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.middle-box {
  border-right: 1px solid #454545;
}

.middle-left-box {
  border-left: 1px solid #454545;
}

.middle-box .html,
.middle-box .js,
.middle-left-box .css,
.middle-left-box .output {
  flex: 1;
  padding: 10px;
}

.middle-box .html,
.middle-left-box .css {
  border-bottom: 1px solid #454545;
}

.middle-box .js,
.middle-left-box .output {
  border-bottom: 1px solid #454545;
}

.results {
  width: 100%;
  height: 100%;
  border: none;
  color: white;
}
